<template>
  <div>
    <h1 class="text-3xl font-bold"> 개인정보</h1>
    <hr class="my-3 border dark:border-black text-black"/>
    <div class="flex justify-center m-1 p-1.5 ">
      <img
          class="lmspic border border-[#1d152a7a]"
          src="/images/lmspicture.jpg"
          alt=""/>
      <!--개인정보 표-->
      <div class="p-10">
        <el-table :data="tableData" border style="width: 100%">
            <el-table-column prop="name" label="이름" width="85"/>
            <el-table-column prop="subject" label="과정명" width="180" />
            <el-table-column prop="school" label="교육타입"width="80" />
            <el-table-column prop="date" label="교육기간" width="100" />
            <el-table-column prop="card" label="카드유형" width="100" />
            <el-table-column prop="idNumber" label="주민등록번호" width="100" />
            <el-table-column prop="phoneNumber" label="전화번호" width="100"/>
            <el-table-column prop="address" label="주소" width="200"/>

        </el-table>
    </div>
    </div>
    <div class="ml">
  <el-button>정보수정</el-button>

    </div>
  </div>
</template>




<style scoped>
.work table {
  width: calc(100% - 170px); /* Adjust width as needed */
}

.work th,
.work td {
  width: calc(100% / 7); /* Distribute equally across 7 columns */
  padding: 16px;
}



.reason {
  margin: 25px;
}

.reason.sh td {
  padding: 40px;
}

.reason .sh td:nth-child(1) {
  width: 10%; /* 업체명 셀 너비 설정 */
}


 el-table tr {
  height: 50px; /* 원하는 높이로 조절하세요 */
}


.lmspic {
  margin: 5px;
  width: 170px;
  height: 226px;
}

/* 표의 너비 및 셀 크기 조정 */
table {
  width: calc(100% - 170px); /* 사진의 너비와 간격을 제외한 나머지 공간을 표가 차지하도록 설정 */
  margin: auto; /* 표를 수평 가운데 정렬 */
}

/* 표의 셀들에 대한 스타일 */
th,
td {
  padding: 15px; /* 셀 내용과 테두리 사이의 간격을 조절 */
  width: 25%; /* 4열로 분할 */
}
</style>
<script lang="ts" setup>
const tableData = [
    {
        name: '임인영',
        subject: 'java 웹 앱 개발',
        school: '국기',
        date:'2023-11-29 ~ 2024-05-14',
        card:'구직자 유형',
      idNumber:'941208-2*******',
      phoneNumber:'010-0000-0000',
      address:'경기도 안산시 단원구 ㅇㅇ 아파'

    },
    ]
</script>
