<!--평가 관리 list -->

<script setup lang="ts">
import { ref } from "vue";
import { DatatableColumn, DatatableData, TwButton, TwDatatableServer } from "vue3-tailwind";
const data = ref({
  column: [
    {
      label: "번호",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "과목명",
      field: "category",
      width: "400px",
      sortable: true,
    },
    {
      label: "능력단위명",
      field: "description",
      width: "400px",
      sortable: true,
    },
    {
      label: "NCS",
      field: "category",
      width: "400px",
      sortable: false,
    },
    {
      label: "강사명",
      field: "category",
      width: "400px",
      sortable: false,
    },
    {
      label: "평가명",
      field: "category",
      width: "400px",
      sortable: false,
    },
    {
      label: "평가일",
      field: "category",
      width: "400px",
      sortable: false,
    },
    {
      label: "평가유형",
      field: "category",
      width: "400px",
      sortable: false,
    },
    {
      label: "출제여부",
      field: "category",
      width: "400px",
      sortable: false,
    },
    {
      label: "응시확인",
      field: "correct",
      width: "400px",
      sortable: false,
    },
    {
      label: "관리",
      field: "action",
      width: "400px",
      sortable: false,
    },
  ] as Array<DatatableColumn>,
  data: [] as Array<DatatableData>,
  limit: 5,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },

    ],
  },
});

const fetchData = async () => {
  const baseUrl = "https://dummyjson.com/products";
  const response = await fetch(
    baseUrl +
      "?" +
      new URLSearchParams({
        limit: data.value.limit.toString(),
        skip: data.value.offset.toString(),
        q: data.value.search.toString(),
        sortType: data.value.sortType,
        sortBy: data.value.sortBy,
      })
  );
  console.log(response)
  const responseJson = await response.json();
  return {
    data: responseJson["products"],
    totalData: responseJson["total"],
  };
};


const sortClick = (event: any) => {
  const sortBy = data.value.sortBy
  const sortType = data.value.sortType
  const sortByNew = event
  const sortTypeNew = event === sortBy ? (sortType === 'asc' ? 'desc' : 'asc') : 'asc'
  data.value = { ...data.value, sortBy: sortByNew, sortType: sortTypeNew }
}

</script>

<template>
  <div>
    <h2 class="text-2xl font-bold">평가관리</h2>
    <hr class="my-2 border dark:border-gray-700" />
      <div class="hello">
    <TwDatatableServer
      :fetch-data="fetchData"
      v-model:search="data.search"
      v-model:limit="data.limit"
      v-model:offset="data.offset"
      v-model:selected="data.selected"
      v-model:sort-by="data.sortBy"
      v-model:sort-type="data.sortType"
      :column="data.column"
      :setting="data.setting"
      @on-sort-change="sortClick"
    >
      <template #row="{ column, data }">
        <template v-if="column.field === 'brand'">
          {{ data.brand }}
        </template>
        <template v-if="column.field === 'category'">
          {{ data.category }}
        </template>
        <template v-if="column.field === 'description'">
          {{ data.description }}
        </template>
        <template v-if="column.field === 'action'">

          <div class="flex gap-2 justify-center">
            <TwButton variant="primary" class="border border-gray-900">
              상세보기
            </TwButton>
          </div>
        </template>
          <template v-if="column.field === 'correct'">

              <div class="flex gap-2 justify-center">
                  <TwButton variant="primary" class="border border-gray-900">
                      응시확인
                  </TwButton>
              </div>
          </template>
      </template>
      <template #empty>
        <div class="bg-white dark:bg-gray-800 text-center w-full">No Data</div>
      </template>
    </TwDatatableServer>
      </div>
      <div class="hi">
    <hr class="my-2 dark:border-gray-700" />
    <div>
      <div class="flex gap-2">
        <div class="w-32">Selected Data</div>
        <div>: {{ data.selected }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Order By</div>
        <div>: {{ data.sortBy }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Order Type</div>
        <div>: {{ data.sortType }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Search</div>
        <div>: {{ data.search }}</div>
      </div>
    </div>
  </div>
  </div>
</template>
