<!--시험지 채점 하는 페이지-->

<template>
  <div class="flex justify-end">
    <el-form
        ref="ruleFormRef"
        style=""
        :model="ruleForm"
        label-width=""
        class="demo-ruleForm"
        status-icon
    >
      <el-form-item label="과정명 선택" prop="region" style="font-size: 20px">
        <el-select v-model="ruleForm.region" placeholder="과정명 선택하세요" style="width: 300px">
          <el-option label="자바 웹 앱 개발" value="java" />
          <el-option label="포토샵 반" value="photo" />
          <el-option label="cad 반" value="cad" />
          <el-option label="쉽게 배우는 java script" value="script" />
        </el-select>
      </el-form-item>
    </el-form>
  </div>
  <div class="tables">
    <el-table :data="tableData" height="auto" style="width: 100%;" border>
      <el-table-column prop="능력단위명" label="능력단위명" min-width="150" />
      <el-table-column prop="능력단위요소명" label="능력단위요소명" min-width="150" />
      <el-table-column prop="훈련교사" label="훈련교사" min-width="100" />
      <el-table-column prop="평가일시" label="평가일시" min-width="100" />
      <el-table-column prop="평가시간" label="평가시간(분)" min-width="100" />
      <el-table-column prop="평가유형" label="평가유형" min-width="100" />
      <el-table-column prop="총배점" label="총배점" min-width="100" />
      <el-table-column prop="문항수" label="문항수" min-width="100" />
    </el-table>
  </div>
  <div class="button">
    <el-button plain style="width: 250px; height:40px; background-color: antiquewhite;">시험출제</el-button>
    <el-button plain style="width: 250px; height:40px; background-color: antiquewhite;">시험시작</el-button>
    <el-button plain style="width: 250px; height: 40px">수정</el-button>
    <el-button plain style="width: 300px; height: 40px">시험채점</el-button>
  </div>
</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue'
import type { FormInstance, FormRules } from 'element-plus'

interface RuleForm {
  name: string
  region: string
  count: string
  type: string[]
  resource: string
  desc: string
}

const formSize = ref('default')
const ruleFormRef = ref<FormInstance>()
const ruleForm = reactive<RuleForm>({
  name: '',
  region: '',
  count: '',
  type: [],
  resource: '',
  desc: '',
})

const tableData = [
  {
    능력단위명: '개발 환경 운영 지원',
    능력단위요소명: '1문항 채점기준',
    훈련교사: '문미림',
    평가일시: '2024-03-29',
    평가시간: '100',
    평가유형: '포트폴리오',
    총배점: '100',
    문항수: '7'
  }
]
</script>

<style>
.tables .el-table {
  height: auto !important;
}

.el-table .el-table__header th div,
.el-table .el-table__body td div {
  white-space: normal;
}

.button {
  padding: 10px;
}

.el-table .cell {
  height: 100px;
  line-height: 70px;
  margin: 10px;
}
</style>
