<script setup lang="ts">
import { TwFeather } from "vue3-tailwind";
useHead({
  title: "Dashboard",
});
import { ref } from 'vue'
const value = ref(new Date())


</script>

<template>
  <div>
    <h1 class="text-3xl font-bold">강사용 대시보드</h1>
    <hr class="my-3 border dark:border-black-600"/>
    <!--    컬러 색상-->
    <!--     m가로 y세로-->

  </div>
  <div class="flex justify-between">
  <div class="hh hi bg-gray-300 w-1/2 m-4" style="height: 500px; color: black; font-size: 25px; text-align: center; border-radius: 20px;">
    출결관리
    <div class="flex justify-center m-4">
      <el-timeline style="max-width: 700px">
        <el-timeline-item timestamp="2018/4/12" placement="top">
          <el-card>
            <h4>Update Github template</h4>
            <p>Tom committed 2018/4/12 20:46</p>
          </el-card>
        </el-timeline-item>
        <el-timeline-item timestamp="2018/4/3" placement="top">
          <el-card>
            <h4>Update Github template</h4>
            <p>Tom committed 2018/4/3 20:46</p>
          </el-card>
        </el-timeline-item>

      </el-timeline>
    </div>
  </div>
  <div class=" bg-gray-300 w-1/2 m-4 "style="color: black; font-size: 25px; text-align: center; border-radius: 20px; ">
    시간표
    <div class="demo-progress m-10">
      <el-progress :text-inside="true" :stroke-width="26" :percentage="70" />
      <el-progress
          :text-inside="true"
          :stroke-width="24"
          :percentage="100"
          status="success"
      />
      <el-progress
          :text-inside="true"
          :stroke-width="22"
          :percentage="80"
          status="warning"
      />
      <el-progress
          :text-inside="true"
          :stroke-width="20"
          :percentage="50"
          status="exception"
      />
    </div>
  </div>
  </div>
  <div class="flex justify-between">
    <div class="hh hi bg-gray-300 w-1/2 m-4" style="height: 500px; color: black; font-size: 25px; text-align: center; border-radius: 20px;">
      출결관리
      <div>
        <el-button class="w-1/2 m-5" style="font-size: 15px; text-align: center;">
          <nuxt-link to="/attendance/list" >출결관리</nuxt-link>
        </el-button>
      </div>
    </div>
    <div class="bg-gray-300 w-1/2 m-4"style="color: black; font-size: 25px; text-align: center; border-radius: 20px;">
      시간표
      <div>

        <div class="flex justify-center">
          <div class="flex justify-center w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span class="text-sm font-semibold text-gray-900 dark:text-white">Bonnie Green</span>
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400">11:46</span>
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">That's awesome. I think our users will really appreciate the improvements.</p>
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>







<style>
.demo-progress .el-progress--line {
  margin-bottom: 15px;
  max-width: 600px;
}

</style>
